.shopping-cart-item
    display flex
    align-items center
    max-width 1440px
    max-height 1440px
    margin-bottom 1em
    padding 0.5em 0

    &__preview
        max-width 200px
        margin-right 2em
        border-radius 6px

    &__info
        flex 1
        padding 10px

        &-title
            display block

        &-price
            margin-top 20px
            color gray

    &__amount
        margin 80px 0px 0px 400px
        border 1px solid red

    &__delete
        margin 70px 0px 0px 400px
        border 1px solid red
