.admin-page
    &__wrapper
        display flex

        & > div
            flex 1
            min-height 520px
            margin 1.25em 0.75em
            padding 1em
            background-color #eee
            border-radius 2px

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0
