.shopping-cart-checkout
    flex 1
    min-width 320px
    margin-left 2em
    padding 1em
    border-radius 6px
    background-color #333

    &__info-line
        display flex
        justify-content space-between
        padding 0.5em 1em

        &--primary
            margin 1em 0
            color #eee
            font-weight 700

        &--secondary
            color #c7c7c7

    &__submit
        width 100%
