.button
    display flex
    align-items center
    justify-content center
    min-width 120px
    height 36px
    border 0
    border-radius 6px
    outline none
    font-weight 700
    color #eee
    background-color #2f49d0
    cursor pointer

    &--disabled
        background-color #c0c0c0
        cursor default

    &:focus
    &:active
        border 0

    &:active
        background-color #495ec7
