.layout-footer
    color #eee
    background-color #333

    &__wrapper
        min-width 960px
        max-width 1440px
        height 120px
        margin auto
        display flex
        justify-content space-between
        padding 2em 20px 1em
        overflow hidden

    &__contacts
        display block

    &__external-links
        display flex


    &__external-link
        margin 0.8em

    &__feedback
        height 40px
        width 40px
