.multi-switch
    display flex

    &__item
        padding 0.5em 1em
        background-color #333
        color #eee
        cursor pointer
        user-select none
        outline none

        &--selected
            background-color #444

        &:first-child
            border-radius 6px 0 0 6px

        &:last-child
            border-radius 0 6px 6px 0
